.m-background {
    background: url("../images/dust_scratches.png");
    min-height: 1000px;
}

.m-nav .ui.input {
    color: #DCDFE6;
}

.ui .container .secondary .item{
    color: #909399;
}

.ui .ui.menu.nav-button{
    background: linear-gradient(30deg, #212121, #424242, #212121);
    margin-right: 10px;
    border: #F2F6FC;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12)
}

#app .m-dialog-shadow {
    box-shadow: 1px 1px 20px #999;
}

.ui.secondary.stackable.menu a.item:hover,
.ui .container .secondary .active.item {
    color: #00897B;
}

.ui.blog-title.header {
    line-height: 1.2;
    font-size: 16px;
    color: #424242;
}

.ui.container .nav-logo .hyzt-logo {
    color: #00B5AD;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.ui .tag-box .ui.basic.teal.label {
    font-size: 12px;
}

.tag-box .ui.label>.detail {
    margin-left: .4em;
}

.blog-box .column.blog-tag-box .ui.teal.basic.label {
    margin: .5rem .7rem 0 0;
    font-weight: 600;
    font-size: 10px;
}

.ui .right.aligned.column,
.ui .right.aligned.column a,
.column .ui.title.header {
    color: #626262;
}

.m-nav  .ui.input input {
    color: #909399;
}

.ui.attached.m-nav {
    background-image: linear-gradient(90deg, #212121, #424242, #212121);
}

.m-background .el-backtop, .el-calendar-table td.is-today {
    color: #00b5ad;
}

.m-item .input input {
    height: 40px;
}

#app .footer-box {
    margin-top: 60px;
    background-color: #f5f5f7;
}

.footer-box .footer-main {
    margin: 0 auto;
    max-width: 72em;
    padding: 0 22px;
}

.footer-main .footer-page-views {
    color: #666;
    font-size: 12px;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #e6e6e6;
}

.footer-main .footer-info {
    color: #666;
    font-size: 12px;
    padding: 10px 0 80px;
}

.footer-box li a {
    color: #666;
}

.footer-box li a:hover {
    color: #00B5AD;
}

.footer-box .public-security {
    position: relative;
    padding-left: 35px;
}

.footer-box .visit-total,
.footer-box .github-icon {
    padding-left: 10px;
}

.footer-box .icon {
    font-size: 18px;
}

.footer-box .icp {
    margin-top: 10px;
}

.footer-box .footer-page-views {
    padding: 80px 0 10px;
}

.footer-box .icp li,
.footer-box .footer-page-views li {
    float: left;
    line-height: 12px;
    padding-right: 10px;
}

.footer-box .public-security:before {
    position: absolute;
    content: "";
    top: -5px;
    left: 10px;
    width: 20px;
    height: 20px;
    background: url("../images/for-the-record-icon.png");
    background-size: 20px;
}

.footer-box .footer-title {
    font-size: 12px;
    border-bottom: 1px solid #d2d2d2d7;
    padding: 17px 0 11px;
}

.footer-info .icp li+li {
    border-left: 1px solid #ccc;
}

.ui .basic.teal.label.tag-title,
.ui .type-box .ui.labeled.button.active {
    transition: all .5s;
    transform: translateY(-3px);
}

.blog-list-box .blog-img,
.ui .tag-box .tag-item,
.ui.basic.teal.label.tag-title,
.type-box .ui.labeled.button.active,
.ui.secondary.menu .item {
    transition: all .5s;
}

.blog-list-box .blog-img:hover,
.ui .tag-box .label.tag-item:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
}

.ui.m-padded-tb-min.m-nav.headerWrapper {
    position: fixed;
    width: 100%;
    max-height: 70px;
    left: 0;
    top: 0;
    z-index: 1500;
}

.m-black {
    color: #606266!important;
}

.ui.middle .eleven p {
    margin-bottom: 2rem;
}

.row {
    padding-top: .4rem!important;
    padding-bottom: .4rem!important;
}

a {
    text-decoration: none!important;
}

.ui.menu .item > i.icon,
.ui.attached .ui.horizontal.list .item > i.icon {
    opacity: .9;
    float: none;
    margin: 0 6px 0 0;
}

.m-padded-min {
    padding: 0.2em !important;
}
.m-padded-tiny {
    padding: 0.3em !important;
}

.m-padded-comm {
    padding: 0.4em !important;
}

.m-padded-tb-min {
    padding: 0.2em 0 0.2em 0 !important;
}

.m-padded-tb-small {
    padding: 0.5em 0 0.5em 0 !important;
}

.m-padded {
    padding: 2.2em!important;
}

.m-padded-tb-tb {
    padding: 1em 0 1em 0 !important;
}

.m-padded-tb-large {
    padding: 2em 0 2em 0 !important;
}

.m-padded-tb-big {
    padding: 3em 0 3em 0 !important;
}

.m-padded-tb-huge {
    padding: 4em 0 4em 0 !important;
}

.m-padded-tb-massive {
    padding: 5em 0 5em 0 !important;
}

.m-padded-large {
    padding: 2em !important;
}

.m-added-min {
    padding: .2em!important;
}

.m-margin {
    font-size: 12px;
    font-weight: 400;
    margin: 0 8px 0 0 !important;
}

.m-margin-tb-tiny {
    margin: .6em!important;
}

.m-padded-lr-responsive {
    padding: 2em 3em 2em 3em !important;
}

.blog-text {
    word-break: break-all;
    white-space: normal;
}

.ui.m-padded-tb-min.m-nav {
    -webkit-box-shadow:  0 8px 10px -8px rgba(0, 0, 0, .5);
    box-shadow: 0 8px 10px -8px rgba(0, 0, 0, .5);
    border: none;
}

.query-is-null-hint {
    margin-top: 30px;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color: #00B5AD;
}

.m-fixed {
    position: fixed!important;
    z-index: 1900 !important;
}

.m-right-bottom {
    bottom: 0!important;
    right: 0!important;
}

#app .ui.page-box.attached.segment {
    border-radius: 0 0 .28571429rem .28571429rem;
}

#app .ui.segment[class*="bottom attached"] {
    margin-bottom: 0;
    border-radius: 0;
}

.ui.segment.m-navbar {
    border-bottom: 1px solid #d4d4d4;
    box-shadow: 0 1px 7px rgba(0, 0, 0, .06);
    background: linear-gradient(#fbfbfb, #ececec);
}

.blog-box .attached.segment,
#app .ui.segments>.border-top-none {
    border-top: none;
}

.m-right-top {
    position: absolute;
    top: 0;
    right: 0;
}

.m-inline-block {
    display: inline-block !important;
}

.m-margin-lr-small {
    margin: 0 .5em 0 .5em!important;
}

.m-margin-top{
    margin-top: 2em !important;
}

.m-margin-bottom-small {
    margin-bottom: .8em !important;
}


/*-- text --*/
.ui .secondary .column .column,
.ui .secondary.segment {
    color: #626262;
    font-weight: 500;
}

.ui .segment > a.m-font-color {
    font-weight: 500;
}

.m-text {
    letter-spacing: 1px !important;
    line-height: 1.8;
}

.m-text-thin {
    font-weight: 300 !important;
}
.m-text-spaced {
    letter-spacing: 1px !important;
}
.m-text-lined {
    line-height: 1.8;
}

.m-opacity-mini {
    opacity: 0.8 !important;
}

.m-opacity-tiny {
    opacity: 0.6 !important;
}

.m-font-color {
    color: #606266!important;
}

.m-container {
    max-width: 72em !important;
    margin: auto !important;
}

.m-container-small {
    max-width: 60em !important;
    margin: auto !important;
}

.m-mobile-show {
    display: none !important;
}

.ui.attached.segment p {
    color: #9E9E9E;
    font-size: 12px;
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    .m-mobile-hide {
        display: none !important;
    }
    .m-mobile-show {
        display: block !important;
    }
    .m-padded-lr-responsive {
        padding-left: 0!important;
        padding-right: 0!important;
    }
    .m-mobile-wide {
        width: 100% !important;
    }
}
