<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hy.blog.dao.TagDAO">

    <resultMap id="tag" type="com.hy.blog.entity.Tag">
        <id property="id" column="tid"/>
        <result property="name" column="name"/>
        <result property="tagColour" column="tag_colour"/>
        <collection property="blogs" ofType="com.hy.blog.entity.Blog">
            <id property="id" column="bid"/>
            <result property="title" column="title"/>
            <result property="typeId" column="type_id"/>
        </collection>
    </resultMap>

    <select id="findBlogTag" resultMap="tag">
        select
            t.id tid        ,
            t.name          ,
            t.tag_colour    ,
            b.id bid        ,
            b.title
        from t_tag t        ,
             t_blog b       ,
             t_blog_tags tbt
        where t.id = tbt.tags_id
        and b.id = tbt.blog_id
        and b.published = 1
    </select>

    <select id="findByTagId" resultMap="tag" parameterType="java.lang.Long">
        select
            t.id tid        ,
            t.name          ,
            t.tag_colour    ,
            b.id bid        ,
            b.title
        from t_tag t        ,
             t_blog b       ,
             t_blog_tags tbt
        where t.id = tbt.tags_id
        and b.id = tbt.blog_id
        and b.published = 1
        and t.id = #{tagId}
    </select>

    <select id="findHomeTag" resultType="com.hy.blog.vo.DataStringValue">
        select
            tt.id               ,
            tt.name             ,
            tt.tag_colour       ,
            count(tt.id) value
        from t_blog_tags tbt    ,
             t_tag tt
        where tbt.tags_id = tt.id
        group by tt.id
        order by value desc
        limit 12
    </select>

    <select id="findAllTag" resultType="com.hy.blog.vo.DataStringValue">
        select
            tt.id               ,
            tt.name             ,
            tt.tag_colour       ,
            count(tt.id) value
        from t_blog_tags tbt    ,
             t_tag tt
        where tbt.tags_id = tt.id
        group by tt.id
        order by value desc
    </select>

</mapper>