<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hy.blog.dao.adminDAO.AdminLogDAO">

    <insert id="saveBog" parameterType="com.hy.blog.entity.Log">
        insert into t_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="ip != null">
                ip,
            </if>
            <if test="classMethod != null">
                class_method,
            </if>
            <if test="accessTime != null">
                access_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
               #{id},
            </if>
            <if test="url != null">
                #{url},
            </if>
            <if test="ip != null">
                #{ip},
            </if>
            <if test="classMethod != null">
                #{classMethod},
            </if>
            <if test="accessTime != null">
                #{accessTime},
            </if>
        </trim>
    </insert>

    <select id="findAllLog" resultType="com.hy.blog.entity.Log">
        select
            id, url, ip, class_method, access_time
        from t_log
        order by access_time desc
    </select>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete from t_log where id = #{id}
    </delete>

</mapper>