<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hy.blog.dao.adminDAO.AdminTagDAO">

    <select id="findByIdTag" resultType="com.hy.blog.entity.Tag" parameterType="java.lang.Long">
        select id, `name`, tag_colour from t_tag where id = #{id}
    </select>

    <insert id="saveTag" parameterType="com.hy.blog.entity.Tag">
        insert into t_tag (`name`, tag_colour) values (#{name}, #{tagColour})
    </insert>

    <select id="findByNameTag" parameterType="java.lang.String" resultType="com.hy.blog.entity.Tag">
        select id, `name` from t_tag where `name` = #{name}
    </select>

    <delete id="deleteByIdTag" parameterType="java.lang.Long">
        delete from t_tag where id = #{id}
    </delete>

    <update id="updateByIdTag" parameterType="com.hy.blog.entity.Tag">
        update t_tag set `name` = #{name}, tag_colour = #{tagColour} where id = #{id}
    </update>

    <select id="findAllTag" resultType="com.hy.blog.entity.Tag">
        select id, `name`, tag_colour from t_tag
    </select>

</mapper>
